<% layout ('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="mt-5 text-center"> Edit Review </h1>
            <form action="/whiskies/<%= whisky._id %>/reviews/<%= review._id %>?_method=PUT" method="post">
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating:</label>
                    <input type="range" name="review[rating]" id="rating" class="form-range" min="1" max="5">
                </div>

                <div class="mb-3 ">
                    <label for="body" class="form-label">Review:</label>
                    <textarea class="form-control" name="review[body]" id="body" cols="72" rows="3" placeholder="<%= review.body %>"></textarea>
                </div>
                <button class="btn btn-success w-100" type="submit">Update Review</button>
            </form>
        </div>
    </div>